.logofooter{
    background-color: #001f3f;

}


/* pour le footer */
footer ul {
    background-color: #001f3f;
    align-items: center;
}

footer ul li {
    display: inline;
    padding: 10px;
    color: white;
}

footer ul li a {
    color: white;
    text-decoration: none;
}