{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='poney.css') }}">
{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <h2 class="display-4 fw-bold mb-4">Nos poneys :</h2>
    <div class="mb-5">
      <p class="fw-bold mb-1">La liste de nos poneys</p>
      <p class="text-muted mb-0">Vous pourrez les réserver dans la section "Réservation"</p>
    </div>

    {% for poney in poneys %}
    <div class="card h-100 border-0 shadow-sm text-center p-3">
      <img src="{{ poney[4] }}" alt="{{ poney[1] }}" class="rounded-circle mb-3" width="80" height="80">
      <h3 class="h5 mb-2">{{ poney[1] }}</h3>
      <p class="fw-bold mb-1">{{ poney[3] }}</p>
      <p class="text-muted">Charge maximale : {{ poney[2] }} kg</p>
    </div>
    {% endfor %}

    

  </div>
</section>
{% endblock %}
