{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='reservation.css') }}">
{% endblock %}

{% block content %}
  <h1>Choisissez un poney pour la réservation</h1>

  <form action="{{ url_for('insert_reserver', id=id) }}" method="POST">
    <label for="poney">Sélectionnez un poney :</label>
    <select name="poney" id="poney" required>
        <option value="" selected disabled>-- Sélectionnez un poney --</option>
        {% for poney in listeponey %}
            <option value="{{ poney.idPoney }}">{{ poney.nomPoney }}</option>
        {% endfor %}
    </select>
    <button type="submit">Réserver ce Poney</button>
</form>

{% endblock %}